{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid bg1 mt-1">





<div class="container-fluid">
<div class="row ml-5 pl-5 mt-4 ">

<div class="col-lg-4 mb-4">


    <h3 class="h101 text-primary d-flex ml-4 "><b>Supervisor</b></h3>
    <img src="{% static 'images/akhter_sir.jpg' %}" class=" ml-4 card-img-top justify-content-center img1 rounded-circle" style="height:150px;width:150px;">
    <h3 class="justify-content-center">Dr. Syed Akhter Hossain</h3>
    <h5 class="text-justify ">Professor</h5>
    <h5 class="text-justify">Department Of CSE</h5>
    <h5 class="text-justify">Daffodil International University</h5>

</div>




  <div class="col-lg-4 ">

      <h4 class="mt-2 justify-content-center h101">Team Member <span style="color:green;">[lead]</span></h4>
      <img src="{% static 'images/sohrab.jpg' %}" class=" ml-4 card-img-top justify-content-center img1 rounded-circle" style="height:150px;width:150px;">
      <h3 class="justify-content-center">Sohrab Abedin Bhuiyan</h3>
      <p class="ml-4">ID: 141-15-3097</p>
</div>


  <div class="col-lg-4 float-right">
          <h4 class="mt-2 justify-content-center h101">Team Member </h4>
          <img src="{% static 'images/amir.jpg' %}" class=" ml-4 card-img-top justify-content-center img1 rounded-circle" style="height:150px;width:150px;">
          <h3 class="justify-content-center ">Amir Ahmed</h3>
          <p class="ml-4">ID: 162-15-8178</p>
</div>

  </div>

  </div>
</div>












</div>
{% endblock content %}
