{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid bg1 mt-1">



<div class="card container border" style="width: 40rem; height: 100vh">




    <h4 style="text-align: center" class="pt-3">Resident Information</h4>
    <div class="row">
      <div class="col-lg-6 p-4">

      <img src="{{userregi.image.url}}" width="300px" height="300px" alt="" class="card-img rounded">
</div>
    <div class="col-lg-6 p-4">
        <p class="text-justify"><strong>Name:</strong>  {{userregi.name}}</p>
        <p class="text-justify"><strong>Flat Number: </strong> {{userregi.flat}}</p>
        <p class="text-justify"><strong>Phone Number:</strong>  {{userregi.phone}}</p>
        <p class="text-justify"><strong>Email:</strong>  {{userregi.email}}</p>
</div>


    </div>
  </div>
</div>





{% endblock content %}
